<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paatala Pallaki by IITH EE'22</title>
        <link rel="stylesheet" href="../static/style.css">
        </head>
<body>
    <nav>
        <ul>
            <li class="brand"><img src="../static/logo.png" alt="Paatala Pallaki"> Paatala Pallaki</li>
        </ul>
    </nav>

    <div class="container">
        <div class="songList">
            <h1>Songs by IITH EE'22</h1>
            <div class="songItemContainer">
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="0" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
			<img alt="1">
			<span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="1" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="2" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="3" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="4" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="5" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="6" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="7" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="8" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="9" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="10" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="11" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="12" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="13" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="14" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="15" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="16" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="17" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="18" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="19" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="20" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="21" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="22" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="23" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="24" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="25" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="26" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="27" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="28" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="29" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="30" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="31" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="32" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="33" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="34" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="35" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="36" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="37" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="38" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="39" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="40" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="41" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="42" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="43" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="44" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="45" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="46" class="far songItemPlay fa-play-circle"></i> </span></span>
                </div>
                <div class="songItem">
                    <img alt="1">
                    <span class="songName">Voice of IITH</span>
                    <span class="songlistplay"><span class="timestamp"><i id="47" class="far songItemPlay fa-play-circle"></i> </span></span>
		</div> 
            </div>
        </div>
        <div class="songBanner"></div>
    </div>

    <div class="bottom">
        <input type="range" name="range" id="myProgressBar" min="0" value="0" max="100">
        
        <div id="duration">0:00 / 0:00</div>
        
        <!-- Container for the play, forward, previous buttons -->
        <div class="center-controls">
            <i class="fas fa-3x fa-step-backward" id="previous"></i>
            <i class="far fa-3x fa-play-circle" id="masterPlay"></i>
            <i class="fas fa-3x fa-step-forward" id="next"></i>
            <i class="fa fa-3x fa-random" id="shuffle"></i>
        </div>
        
        <!-- Volume and Order buttons -->
        <div class="right-controls">
            <div class="volume-container">
                <i id="mute" class="fas fa-volume-up"></i>
                <input type="range" id="volume" class="volume-slider" value="100" max="100" step="1">
            </div>
            <button id="originalOrder">Original Order</button>
        </div>
        
        <div class="songInfo">
            <img src="playing.gif" width="42px" alt="" id="gif"> 
            <span id="masterSongName">Welcome To Paatala Pallaki Play your favorite Song</span>
        </div>
    </div>
    <script src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/26504e4a1f.js" crossorigin="anonymous"></script>
    
</body>
</html>
